.history-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.time-container {
  display: flex;
}
.browsing-time {
  display: flex;
  padding: 10px;
  font-family: 'Roboto';
  font-size: 15px;
}
.history-content-container {
  display: flex;
  flex-direction: row;
  padding: 15px;
}

.content-card {
  display: flex;
  flex-direction: row;
  padding-bottom: 12px;
}
.history-domain-logo {
  height: 35px;
  width: 35px;
}
.history-title {
  font-size: 15px;
  padding: 10px;
}
.history-domain-url {
  color: #475569;
  font-size: 15px;
}
